body {
    background-color: #6a6c70;
    color: white;

}

.main {
    margin-top: 1%;
    margin-left: 42%;
    margin-right: 5%;
    text-align: center;
    position: relative;
    width: 300px;
    height: 200px;
    z-index: 15;

}

#results{
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    display: none;
    border: 2px solid black;
    padding: 10px;
    padding-bottom: 25px;
    margin-left: 37%;
    width: 25%;
}

table, th, td {
    padding: 5px;
    text-align: center;
    border: 1px solid black;
 }
